@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka+One&family=Mochiy+Pop+P+One&display=swap');

@font-face {
  font-family: kitto;
  src: url(../fonts/Kitto.otf);
}

@font-face {
  font-family: oliveDays;
  src: url(../fonts/Olive%20Days.otf);
}

@font-face {
  font-family: baksoSapi;
  src: url(../fonts/BaksoSapi.otf);
}

@font-face {
  font-family: candyBeans;
  src: url(../fonts/Candy%20Beans.otf);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  transition: color .2s;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  transition: opacity 1s, background 1s;
  font-family: baksoSapi;
  
}

a {
  text-decoration: none;
}

.basic-button {
  cursor: pointer;
}

.basic-button:hover {
  transform: scale(1.025);
}


.aaaa {
  animation: pop 10s infinite;
}

@keyframes pop {

  80% {
    transform: scale(1);
    opacity: 1;
  }

  90% {
    transform: scale(.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
  }
}