@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka+One&family=Mochiy+Pop+P+One&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
  transition: color .2s;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background: gray;
  margin: 0;
  transition: opacity 1s;
  font-family: 'Mochiy Pop P One', sans-serif;
}